th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

h2{
    padding:20px;
    text-align: center;
}

label{
    padding: 10px;
}

.form_correcto .formulario_label{
    color:green;
}

.form_correcto .formulario_input{
    border: green solid 3px;
}

.form_incorrecto .formulario_label{
    color: red;
}

.form_incorrecto .formulario_input{
    border: red solid 3px;
}

.formulario__input-error {
	font-size: 12px;
	margin-bottom: 0;
	display: none;
}

.formulario__input-error-activo {
	display: block;
}